asgiref==3.11.1
azure-core==1.39.0
azure-storage-blob==12.28.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==47.0.0
Django==6.0.3
django-debug-toolbar==6.3.0
django-environ==0.13.0
django-storages==1.14.6
gunicorn==25.3.0
idna==3.13
iniconfig==2.3.0
isodate==0.7.2
mysqlclient==2.2.8
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pytest==9.0.3
pytest-django==4.12.0
requests==2.33.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
whitenoise==6.12.0
