<div class="
    [&_p]:mb-4 [&_label]:block [&_label]:text-sm [&_label]:font-medium [&_label]:text-brand-text-muted [&_label]:mb-1 
    [&_input]:w-full [&_input]:bg-brand-border-muted [&_input]:border [&_input]:border-brand-border [&_input]:rounded-lg 
    [&_input]:p-2.5 [&_input]:text-brand-text-main focus:[&_input]:outline-none focus:[&_input]:ring-2 focus:[&_input]:ring-brand-primary focus:[&_input]:border-transparent 
    [&_ul.errorlist]:text-brand-danger-light [&_ul.errorlist]:text-sm [&_ul.errorlist]:mt-1 
    [&_ul:not(.errorlist)]:text-brand-text-muted [&_ul:not(.errorlist)]:text-xs [&_ul:not(.errorlist)]:mt-1
    [&_span.helptext]:text-brand-text-muted [&_span.helptext]:text-xs [&_span.helptext]:block [&_span.helptext]:mt-1
">
    {{ form.as_p }}
</div>