{% load static %}
<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lainaamo</title>
    <link rel="stylesheet" href="{% static 'tyokalut/css/output.css' %}">
</head>
<body class="bg-brand-bg min-h-screen">

    {% include 'tyokalut/components/navbar.html' %}

    {% include 'tyokalut/components/alerts.html' %}

    <main class="container mx-auto px-4 pb-12">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>