{% extends 'tyokalut/base.html' %}

{% block content %}
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6 gap-4">
        <h1 class="text-3xl font-extrabold text-brand-text-main">Lainaamon työkalut</h1>

        <div class="relative w-full md:w-72">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-brand-text-muted" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input 
            type="search"
            name="q"
            placeholder="Etsi työkaluja..."
            class="block w-full p-3 pl-10 text-sm text-brand-text-main border border-brand-border rounded-lg bg-brand-surface focus:ring-brand-primary outline-none transition-colors"
            hx-get="{% url 'tyokalu_lista' %}"
            hx-trigger="keyup changed delay:300ms, search"
            hx-target="#hakutulokset"
            hx-push-url="true">
        </div>
    </div>

    <div id="hakutulokset">
        {% include 'tyokalut/partials/lista_tulokset.html' %}
    </div>
        
{% endblock %}