{% extends 'tyokalut/base.html' %}

{% block content %}
<div class="max-w-md mx-auto mt-12">
    <div class="bg-brand-surface rounded-xl shadow-2xl overflow-hidden border border-brand-border-muted p-8">
        
        <h1 class="text-3xl font-extrabold text-brand-text-main mb-6 text-center">Luo uusi tunnus</h1>

        <form method="POST" class="space-y-6">
            {% csrf_token %}
            
            {% include 'tyokalut/components/form_wrapper.html' with form=form %}

            <button type="submit" class="w-full bg-brand-success hover:bg-brand-success-hover text-brand-text-main font-bold py-3 px-4 rounded-lg 
            transition-colors border border-brand-success-hover hover:border-brand-success-light">
                Rekisteröidy
            </button>
        </form>

        <div class="mt-6 text-center">
            <p class="text-brand-text-muted text-sm">
                Oletko jo asiakas? 
                <a href="{% url 'kirjaudu' %}" class="text-brand-primary-light hover:text-brand-primary-light font-semibold transition-colors">
                    Kirjaudu sisään
                </a>
            </p>
        </div>
        
    </div>
</div>
{% endblock %}